.list-users-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 768px) {
  .list-users-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
